<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style scoped>

    .done td {
      background-color: #0078e7 !important;
    }

    .button-success,
    .button-error,
    .button-warning,
    .button-secondary {
      color: white;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-success {
      background: rgb(28, 184, 65); /* this is a green */
    }

    .button-error {
      background: rgb(202, 60, 60); /* this is a maroon */
    }

    .button-warning {
      background: rgb(223, 117, 20); /* this is an orange */
    }

    .button-secondary {
      background: rgb(66, 184, 221); /* this is a light blue */
    }

  </style>
</head>
<body>
<div class="pure-g pure-form" id="app">
  <div class="pure-u-1">
    <div>
      <fieldset style="text-align: center">
        <div class="pure-u-1-2">
          <input type="number" placeholder="100% Weight" class="pure-input-rounded" v-model="maxWeight" style="width: 100%">
        </div>
      </fieldset>
    </div>

    <table class="pure-table pure-table-horizontal pure-table-striped" style="width: 100%" id="breakdown">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>%</th>
        <th>W</th>
        <th>Reps</th>
        <th>&nbsp;</th>
      </tr>
      </thead>

      <tbody>

      <tr v-for="(set, index) in sets" v-bind:class="{done: set.done}">
        <td>
          <button class="button-success" v-show="editing" style="font-weight: bold"
                  v-on:click="cloneSet(index)">+</button>
        </td>
        <template v-if="set.percentage == 'BAR'">
          <td>BAR</td>
          <td>BAR</td>
        </template>
        <template v-else>
          <td>{{ set.percentage }} %</td>
          <td>{{ computeWeight(maxWeight, set.percentage) }}</td>
        </template>
        <td>
          <span v-show="editing">
            <select v-model="set.reps" class="pure-input-rounded">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </span>
          <span v-show="!editing">{{ set.reps }}</span>
        </td>
        <td>
          <button class="button-warning" v-show="editing"
                  v-on:click="deleteSet(index)">&cross;</button>

          <button class="pure-button pure-input-rounded" v-show="!editing"
                  v-bind:class="{'pure-button-primary': !set.done}"
                  v-on:click="doneSet(index)">&check;</button>
        </td>
      </tr>

      </tbody>
    </table>

    <div v-show="editing">
      <fieldset style="text-align: center">
        <button class="pure-button pure-button-primary pure-input-rounded" v-on:click="compute">
          Get Percentages
        </button>
        <button class="pure-button pure-input-rounded" v-bind:class="{'button-secondary': editing}" v-on:click="toggleEdit">
          Lift!
        </button>
        <!--&nbsp;-->
        <!--<div class="pure-u-1-2">-->
        <!--<input type="number" placeholder="Percentage" class="pure-input-rounded" v-model="addPercentage" style="width: 100%">-->
        <!--</div>-->
        <!--<button class="pure-button pure-button-primary pure-input-rounded" v-on:click="addSet">-->
        <!--Add-->
        <!--</button>-->
      </fieldset>
    </div>
    <div v-show="!editing">
      <fieldset style="text-align: center">
        <button class="pure-button pure-input-rounded" v-bind:class="{'button-secondary': editing}" v-on:click="toggleEdit">
          Edit
        </button>
      </fieldset>
    </div>

  </div>
</div>

<script type="text/javascript">
  var defaults = {
    basePercentage: 40,
    maxPercentage: 100,
    increments: 5,
    baseReps: 5,
    roundNearest: 5,
  }

  var app = new Vue({
    el: '#app',
    data: {
      maxWeight: null,
      sets: [{
        percentage: 'BAR',
        reps: defaults.baseReps
      }],
      editing: true,
      addPercentage: null
    },
    methods: {
      compute: function () {
        this.sets = [
          {
            percentage: 'BAR',
            reps: defaults.baseReps
          }
        ]
        for (var p = defaults.basePercentage; p <= defaults.maxPercentage; p += defaults.increments) {
          var set = createSet(p, defaults.baseReps);
          this.sets.push(set);
        }
      },
      toggleEdit: function () {
        this.editing = !this.editing;
      },
      deleteSet: function (p) {
        this.sets.splice(p, 1)
      },
      doneSet: function (p) {
        this.sets[p].done = !this.sets[p].done;
        this.$forceUpdate();
      },
      addSet: function() {
        var p = this.addPercentage;
        var i;
        for(i = 0; i < this.sets.length && p > this.sets[i].percentage; i++);
        this.sets.splice(i, 0, createSet(p, defaults.baseReps));
      },
      cloneSet: function(p) {
        var obj = Object.assign({}, this.sets[p]);
        this.sets.splice(p + 1, 0, obj);
      }
    }
  })

  function createSet(percentage, reps) {
    return {
      percentage: percentage,
      reps: reps
    }
  }

  function computeWeight(maxWeight, percentage) {
    var pureWeight = (maxWeight * percentage / 100);
    var rounded = Math.round(pureWeight / defaults.roundNearest) * defaults.roundNearest;
    return rounded;
  }
</script>
</body>
</html>